@media (min-width:490px) {

    body {
        max-width: 667px;
    }


    /*-------------Start of Main Section-----------*/
    .main-details {
        top: 450px;
        margin-left: 15px;
    }

    .details-head h2 {
        font-size: 20px;
    }

    .details-head h1 {
        font-size: 50px;
    }

    .details-head h3 {
        font-size: 25px;
    }

    /*-------------End of Main Section-----------*/

    /*-------------Start of About Section-----------*/
    .about-title {
        font-size: 25px;
    }

    .about-paragraph {
        font-size: 18px;
    }

    /*-------------End of About Section-----------*/

    /*-------------Start of Skills Section-----------*/
    .skills-title {
        font-size: 25px;
    }

    /*-------------Start of Contact Section-----------*/
    .contact-title {
        font-size: 25px;
    }

}